* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

* main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  user-select: none;
}

* main #aparelho {
  border: 10px solid;
  background-color: #494E51;
  height: 645px;
  width: 320px;
  border-radius: 25px;
  padding: 10px;
  background: -webkit-linear-gradient(left, #39D580 0%, #25CBA4 50%);
}

* main #aparelho #cel_header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  font-size: 8px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  height: 50px;
}

* main #aparelho #cel_body {
  height: 485px;
  background: -webkit-linear-gradient(left, #f3f3f3 0%, #fff 50%, #f3f3f3 100%);
  padding: 0 10px;
}

* main #aparelho #cel_body img {
  height: 70px;
}

* main #aparelho #cel_body #div_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

* main #aparelho #cel_body #area_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 80px;
}

* main #aparelho #cel_body #area_header img {
  height: 55px;
}

* main #aparelho #cel_body #area_header #titulo {
  margin: auto;
  font-size: 14px;
  color: #494E51;
}

* main #aparelho #cel_body #div_btn,
* main #aparelho #cel_body #div_idade_peso,
* main #aparelho #cel_body #altura {
  display: flex;
  margin-bottom: 10px;
}

* main #aparelho #cel_body #div_btn #homem,
* main #aparelho #cel_body #div_btn #mulher,
* main #aparelho #cel_body #div_idade_peso #homem,
* main #aparelho #cel_body #div_idade_peso #mulher,
* main #aparelho #cel_body #altura #homem,
* main #aparelho #cel_body #altura #mulher {
  cursor: pointer;
}

* main #aparelho #cel_body #div_btn h1,
* main #aparelho #cel_body #div_idade_peso h1,
* main #aparelho #cel_body #altura h1 {
  color: #494E51;
  font-weight: bold;
  line-height: 60px;
}

* main #aparelho #cel_body #div_btn .btn,
* main #aparelho #cel_body #div_idade_peso .btn,
* main #aparelho #cel_body #altura .btn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100px;
  border-radius: 5px;
  color: #25CBA4;
  box-shadow: 0px 0px 6px #999;
  font-size: 14px;
  background-color: #fff;
  margin: 2px;
}

* main #aparelho #cel_body #div_btn .btn div,
* main #aparelho #cel_body #div_idade_peso .btn div,
* main #aparelho #cel_body #altura .btn div {
  display: flex;
}

* main #aparelho #cel_body #div_btn .btn_redondo,
* main #aparelho #cel_body #div_idade_peso .btn_redondo,
* main #aparelho #cel_body #altura .btn_redondo {
  background-color: #25CBA4;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
}

* main #aparelho #cel_body #altura {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 120px;
  color: #25CBA4;
  box-shadow: 0px 0px 6px #999;
  background-color: #fff;
  border-radius: 5px;
  border: none;
}

* main #aparelho #cel_body #altura p {
  margin: 8px 0 5px 0;
}

* main #aparelho #cel_body #altura h1 {
  color: #494E51;
  line-height: 50px;
  font-weight: bold;
}

* main #aparelho #cel_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background: -webkit-linear-gradient(left, #f3f3f3 0%, #fff 50%, #f3f3f3 100%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

* main #aparelho #cel_bottom #btnCalcular {
  display: flex;
  align-items: center;
  border: none;
  background: -webkit-linear-gradient(left, #39D580 0%, #25CBA4 50%);
  height: 40px;
  padding: 12px 25px;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  font-family: Microsoft JhengHei Light;
  cursor: pointer;
}
